{
  "presets": [
    "es2015",
    "stage-1",
    ["env",  { "modules": false }]
  ],
  "plugins": [
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "comments": false
}