{
  "presets": [
    "es2015",
    "stage-0",
    ["env",  { "modules": false }]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ],
  "comments": false
}